
@{
    ViewData["Title"] = "Denied";
}

<h1>Недостаточно прав для просмотра страницы</h1>

<a href="/Home/Index"><button class="btn-primary" asp-action="Index" asp-controller="Home">Вернуться на домашнюю страницу</button></a>